DPTnew/SafenetIntegration_old/Safenet/AuthenticationDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="authenticationDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="userName" type="xs:string" maxOccurs="1"/>
				<xs:element name="password" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="version" type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
